.container {
    display: flex;
    margin: 0px auto;
    width: 1000px;
    justify-content: center;
    height: auto;
  }
  
  .left-side {
    width: 300px;
    padding: 20px;
  }
  
  .right-side {
    padding: 20px;
    width: 550px;
    display: flex;
    flex-direction: column;
  }
  
  .item {
    display: flex;
    padding: 10px;
    border-radius: 4px;
    list-style-type: none;
  }
  .item-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 4px;
  }
  .item-text {
    height: auto;
    margin: auto 0px;
    padding-left: 5px;
  }
  
  .right-image {
    height: 700px;
    object-fit: cover;
    border-radius: 4px;
  }
  .right-text {
    margin-top: 8px;
    padding: 8px;
    height: 20px;
    border: 0ch;
    text-align: center;
  }
  